/* Resets */
/* body,
p {
  margin: unset;
}

ul,
li {
  margin: unset;
  padding: unset;
  list-style: none;
}

li {
  display: inline;
}

img {
  max-width: 100%;
  vertical-align: top;
}

button {
  all: unset;
  display: block;
}

input {
  all: unset;
} */

/* input: text & password */
/* input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;

  height: var(--input-height);
  line-height: var(--input-height);

  padding: 0 var(--input-padding);
  box-sizing: border-box;
} */

/* input: checkbox */
/* input[type="checkbox"] {
  pointer-events: none;
  position: absolute;
} */

/* variables */
:root {
  /* --font-ko: "GowunBatang-Regular"; */

  /* Colors */
  --color-white: #ffffff;
  --color-grey-30: #c4c4c4;
  --color-grey-20: #d9d9d9;
  --color-black: #000000;

  --color-primary-30: #a3c986;
  --color-primary-40: #90be6d;
  --color-primary-70: #5f9043;
  --color-secondary-20: #bc9f8b;

  --color-kakao: #ffe501;
  --color-kakao-focus: #ffed65;

  --color-error: #e73434;

  --input-height: 40px;
  --input-fs: 1.4rem;
  --input-padding: 14px;
}

/* typography */
/* :root {
  font-size: 62.5%;
  line-height: 1.2;
}

body {
  font-size: 1.4rem;
} */

/* commons */
/* .button {
  width: 100%;
  height: 42px;
  font-size: 1.6rem;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
} */

/* .btn-area {
  margin-top: 25px;
} */

/* .btn-login {
  background-color: var(--color-primary-40);
  color: var(--color-white);
  margin-bottom: 10px;
}

.btn-login:focus {
  background-color: var(--color-primary-30);
}

.btn-kakao {
  background-color: var(--color-kakao);
}

.btn-kakao:focus {
  background-color: var(--color-kakao-focus);
} */

/* components */
/* .my-container {
  margin: 0 auto;
  padding: 40px 0;
} */

/* .content {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 70px 44px;
  border: 2px solid var(--color-grey-20);
  border-radius: 20px;
  gap: 44px;
} */

/* .login_logo_wrap {
  width: 60px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
} */

/* .login_wrap {
  width: 320px;
} */

/* input[type="text"]를 한번 감싸는 역할 */
/* .field {
  font-size: var(--input-fs);
  border: 2px solid #ddd;
  border-radius: 16px;
}

.field:focus-within {
  border-color: var(--color-secondary-20);
} */

/* 
.userInput {
  display: flex;
  flex-direction: column;
  gap: 12px;
} */

/* .choice {
  display: flex;
  gap: 10px;
  margin-top: 32px;
  align-items: center;
} */

/* .choice::before {
  content: "";
  display: inline-block;
  background-image: url(./icons/emptybox.svg);
  width: 20px;
  height: 20px;
}

.choice:has(:checked)::before {
  background-image: url(./icons/checkbox.svg);
} */

/* .find_wrap {
  font-family: "GowunBatang-Regular";
  margin-top: 54px;
  text-align: center;
} */

/* .find_wrap a {
  cursor: pointer;
}

.signUp a {
  color: var(--color-primary-70);
} */

/* .find_text {
  display: inline-block;
}

.find_text a {
  text-decoration: underline;
} */
